config SOC_SERIES_LPC17XX
	bool
	select SOC_FAMILY_LPC

config SOC_SERIES
	default "lpc17xx" if SOC_SERIES_LPC17XX

config SOC_LPC1768
	bool
	select SOC_SERIES_LPC17XX

config SOC
	default "lpc1768" if SOC_LPC1768

config SOC_PART_NUMBER_LPC1768FBD100
	bool
	select SOC_LPC1768

config SOC_PART_NUMBER_LPC1768FET100
	bool
	select SOC_LPC1768

config SOC_PART_NUMBER_LPC1768UK
	bool
	select SOC_LPC1768

config SOC_PART_NUMBER
	default "LPC1768FBD100" if SOC_PART_NUMBER_LPC1768FBD100
	default "LPC1768FET100" if SOC_PART_NUMBER_LPC1768FET100
	default "LPC1768UK" if SOC_PART_NUMBER_LPC1768UK
