if SOC_SERIES_LPC17XX

DT_NVIC_PATH := $(dt_nodelabel_path,nvic)
DT_NVIC_MAX_IRQN := $(dt_highest_controller_irq_number,$(DT_NVIC_PATH),irq)

config NUM_IRQS
	default $(inc,$(DT_NVIC_MAX_IRQN)) if $(dt_path_enabled,$(DT_NVIC_PATH))

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default $(dt_nodelabel_int_prop,clkc,clock-frequency)

config FLASH_SIZE
	default 512 if SOC_LPC1768

config SYSCON_INIT_PRIORITY
	default 0

endif # SOC_SERIES_LPC17XX
