# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_LPC176X
	bool
	select SOC_FAMILY_LPC

config SOC_SERIES
	default "lpc176x" if SOC_SERIES_LPC176X

config SOC_LPC1769
	bool
	select SOC_SERIES_LPC176X

config SOC_LPC1768
	bool
	select SOC_SERIES_LPC176X

config SOC_LPC1767
	bool
	select SOC_SERIES_LPC176X

config SOC_LPC1766
	bool
	select SOC_SERIES_LPC176X

config SOC_LPC1765
	bool
	select SOC_SERIES_LPC176X

config SOC_LPC1764
	bool
	select SOC_SERIES_LPC176X

config SOC_LPC1763
	bool
	select SOC_SERIES_LPC176X

config SOC
	default "lpc1769" if SOC_LPC1769
	default "lpc1768" if SOC_LPC1768
	default "lpc1767" if SOC_LPC1767
	default "lpc1766" if SOC_LPC1766
	default "lpc1765" if SOC_LPC1765
	default "lpc1764" if SOC_LPC1764
	default "lpc1763" if SOC_LPC1763

config SOC_PART_NUMBER_LPC1769FBD100
	bool
config SOC_PART_NUMBER_LPC1768FBD100
	bool
config SOC_PART_NUMBER_LPC1768FET100
	bool
config SOC_PART_NUMBER_LPC1768UK
	bool
config SOC_PART_NUMBER_LPC1767FBD100
	bool
config SOC_PART_NUMBER_LPC1766FBD100
	bool
config SOC_PART_NUMBER_LPC1765FBD100
	bool
config SOC_PART_NUMBER_LPC1765FET100
	bool
config SOC_PART_NUMBER_LPC1764FBD100
	bool
config SOC_PART_NUMBER_LPC1763FBD100
	bool

config SOC_PART_NUMBER
	default "LPC1769FBD100" if SOC_PART_NUMBER_LPC1769FBD100
	default "LPC1768FBD100" if SOC_PART_NUMBER_LPC1768FBD100
	default "LPC1768FET100" if SOC_PART_NUMBER_LPC1768FET100
	default "LPC1768UK" if SOC_PART_NUMBER_LPC1768UK
	default "LPC1767FBD100" if SOC_PART_NUMBER_LPC1767FBD100
	default "LPC1766FBD100" if SOC_PART_NUMBER_LPC1766FBD100
	default "LPC1765FBD100" if SOC_PART_NUMBER_LPC1765FBD100
	default "LPC1765FET100" if SOC_PART_NUMBER_LPC1765FET100
	default "LPC1764FBD100" if SOC_PART_NUMBER_LPC1764FBD100
	default "LPC1763FBD100" if SOC_PART_NUMBER_LPC1763FBD100
